<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		
		<!-- FAVORITE SENSOR CONTAINER -->
		<div class="col-sm-6">
			<div class="widget-box transparent ">
				<div class="widget-header widget-header-flat">
					<h4 class="lighter">
					<i class="icon-star wiseup-favorite-icon"></i>Favorite Sensors</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main no-padding">
						<br />
						<div class="infobox-container" id="wiseup-data-container-favorite-sensors"></div>
					</div>
				</div>
			</div>
			<div class="widget-box transparent ">
				<!-- <div class="widget-header widget-header-flat">
					<h4 class="lighter">
					<i class="icon-star wiseup-favorite-icon"></i>Favorite Enable/Disable Features</h4>
				</div> -->
				<div class="widget-body">
					<div class="widget-main no-padding">
						<br />
						<div class="infobox-container" id="wiseup-data-container-favorite-enable"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- FOREIGN SENSOR CONTAINER -->
		<div class="col-sm-6 infobox-container" id="wiseup-data-container-foreign-sensors"></div>
		
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
