<div class="page-header">
	<h1 id="lbl-selected-menu">  Sensors & Actions </h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		
		<!-- FAVORITE SENSOR CONTAINER -->
		<div class="col-sm-12 infobox-container" id="wiseup-data-container-sensors"></div>
		<!-- FOREIGN SENSOR CONTAINER -->
		<div class="col-sm-12 infobox-container" id="wiseup-data-container-foreign-sensors"></div>
		
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->