.sensor {
    margin: 3px;
    display: block;
    height: 250px;
    border-style: solid;
    border-color: #333333;
    border-width: 2px;
    border-radius: 5px;
    position: relative;
}
.sensor-icon {
    position: absolute;
    top: 5px;
    left: 5px;
}
.sensor-value {
    position: absolute;
    left: 100px;
    top: 15px;
    font-size: 50px;
}
.sensor-fav {
    position: absolute;
    top: 80px;
    left: 10px;
}
.sensor-settings {
    position: absolute;
    top: 80px;
    left: 40px;
}
.sensor-name {
    position: absolute;
    top: 120px;
    left: 10px;
    font-size: 20px
}
