<div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-4">
    <div class="sensor pure-g">
        <div class="sensor-icon pure-u-1-4">
			<i class="fa fa-5x" style="position:absolute; top:15px; left:15px; color:{{sensor.state}}" ng-click="onClickSensor(data.type)" ng-class="{ 'fa-folder': data.type == 1, 'fa-globe': data.type == 2, 'fa-glass': data.type == 3, 'fa-power-off': data.type == 4 }"></i>
		</div>
		<div class="sensor-data pure-u-3-4">
			<div class="pure-g">
				<div class="sensor-name pure-u-1-1">{{data.name}}</div>
				<div class="pure-u-1-1">
					<div class="pure-g">
						<div class="sensor-action pure-u-1-2">
							<button toggle-button sensor-id="{{data.id}}" sensor-val="{{data.value}}" active-text="On" inactive-text="Off" ng-model="sensor.state"></button>
						</div>
						<div class="sensor-value pure-u-1-2">{{data.value}}</div>
						<!-- <div class="pure-u-1-3">
							<button class="sensor-fav pure-button">
								<i class="fa fa-1x" ng-class="data.favorite ? 'fa-star' : 'fa-star-o'"></i>
							</button>
						</div> -->
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
